<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>    
  	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  	<script type="text/javascript" th:src="@{js/main.js}"></script>
	<th:block th:include="layout/header"></th:block>
  </head>
  <body>
  
  <div class="container">
  	<div class="card">
  		<div class="card-block">
  		<a th:href="@{/phone/add}" class="btn btn-secondary">Добавить→</a>
  			<table class="table table-hover">
  				<thead>
  					<tr>
  						<th>Модель</th>
  						<th>MAC-адрес</th>
  						<th>Инвент. №</th>
  						<th>МОЛ</th>
  						<th>Кабинет</th>
  						<th>DHCP</th>
  						<th>IP-адрес</th>
						<th>Аккаунты</th>
						<th>Действия</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr th:each="phone : ${phones}">
  						<td th:text="${phone.vendor.getName()}"></td>
  						<td th:text="${#strings.toUpperCase(phone.mac)}"></td>
  						<td th:text="${phone.inventory}"></td>
  						<td th:text="${phone.mol}"></td>
  						<td th:text="${phone.room}"></td>
  						<td th:switch="${phone.isDhcp}">
  						
  							<span th:case="true">Вкл.</span>
  							<span th:case="false">Выкл.</span>
  						</td>
  						<td th:text="${phone.ipAddress}"></td>
  						<td>
  							<ol>
  								<th:block th:each="account : ${phone.phoneAccounts}">
  								<li>
  									<span th:text="${account.getAccount().getUsername()} "></span>
  								</li>
  								</th:block>
  							</ol>
  						</td>
  						<td>
  							<span>
  								<a th:href="@{/phone/edit/} + ${phone.id}" class="btn btn-primary btn-sm btn-block" >Изменить</a>
  								<a th:href="@{/phone/delete/} + ${phone.id}" class="btn btn-danger btn-sm btn-block">Удалить </a>
  							</span>
  							
  						</td>
  						<td></td>	
  					</tr>
  				</tbody>
  				
  			</table>
  		</div>
  	</div>
  </div>
      
  </body>
</html>